[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
pydantic = "*"
redis = "*"
alpha-vantage = "*"
pandas = "*"
multidict = "*"
pytest = "*"
strawberry-graphql = {extras = ["fastapi"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
